@page "/departmentdetail/{id}"
<a href="/departmentpage" class="h4">Employee</a>
<a class="active h4" >></a>
<a href="/departmentdetail/{id}" class="active h4" >Detail Employee</a><br><br>
<div class="text-center">
<h3>Detail Department</h3>
<p>Id &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: @Department.DepartmentId</p>
<p>Name : @Department.DepartmentName</p>
</div>